:root {
    --main-bg-color: #e6ebe0;
    --primary-type-color: #222;
    --accent: #6b8496;
    --accent-strong: #1098F7;
  }
  
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin:0;
    padding:0;
    font-family: "Hammersmith One", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--primary-type-color);
  }
  
  img {
    max-width: 100%;
  }

  h1 {font-size:2.3rem;}
  h2 {
    font-size: 1.6rem;
    color: var(--accent);
  }
  
  main {
    width: 450px;
    margin: 0 auto;
    position: relative;
  }
  
  .container {
    padding: 0 20px;
  }

  .border-bottom {
    border-bottom: 2px dashed var(--accent);
    padding-bottom: 20px;
  }

  .bottom {
    margin-bottom: 50px;
  }
  
  #header {
    height: 45vh;
    position: relative;
  
    h1 {
      text-shadow: 1px 1px var(--primary-type-color);
      padding-left: 20px;
      position: absolute;
      top: 30%;
      color: var(--accent-strong);
      font-family: "Dela Gothic One", sans-serif;
    }
    img {
      position:absolute;
      left: 30%;
      top: 35%;
      z-index: -1;
      width: 300px;
    }
  }
  
  /* ------- NavBar ------- */
  nav {
    height: 70px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
  
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--main-bg-color);
      z-index: 10;
    
      height: auto;
      width:100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    a:hover {
      color: var(--accent);
    }
  
    .logo {
      width:fit-content;
      margin-right: auto;
    }
  
    svg {
      fill: var(--main-bg-color);
    }
  }
  
  .links-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  
    position: absolute;
    top:0;
    right:0;
    z-index: 10;
    width: 300px;
  
    background-color: var(--primary-type-color);
    box-shadow: -5px 0 5px rgba(0,0,0,0.25);
  
  }
  
  #sidebar-active {
    display: none;
  }
  
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
    cursor: pointer;
    z-index: 10;
  }
  #sidebar-active:checked ~ .links-container {
    display: flex;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 9;
  }

/* ---- Wave SVG ---- */
.custom-shape-divider-top-1714249349 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 4;
}

.custom-shape-divider-top-1714249349 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1714249349 .shape-fill {
  fill: var(--primary-type-color);
}



#intro { 
  margin: 40px 0;
  border-top: 2px solid var(--primary-type-color);
  border-bottom: 2px solid var(--primary-type-color);

  p{margin-bottom: 30px;}
}

#workout-splits {

a {
  color: var(--primary-type-color);
  text-decoration: none;
}
a:hover {
  color: var(--accent-strong);
}
li {list-style-type: none;}
}



footer {
  background-color: var(--accent);
  height: fit-content;
  text-align: center;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {

  main {
    width: 768px;
  }

  #intro {
    width: 90%;
    padding: 0;
    margin-left: 20px;
  }

  #header{height: 55vh;}
  #header img {
    width: 400px;
  }

  

}

@media screen and (min-width: 992px) {

  main {
    width: 100%;
  }

  .container {
    max-width: 80vw;
    margin:auto;
  }

  #intro {
    max-width: 80vw;
    margin: auto;
  }

  nav.primary .open-sidebar-button,
  .close-sidebar-button {
    display: none;
  }
  #sidebar-active {
    display: none;
  }

  nav {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .links-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff00;
    box-shadow: none;
    position: inherit;
  }

  nav a {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
  }
  nav .logo {
    margin-right: auto;
  }

  #header {
    height: 70vh;

    h1 {left: 10%;}
    img {
      width: 500px;
      left: 50%;
    }

  }

  #crossfit-workouts {
    margin-top: 40px;
  }

  .container li {
    max-width: 600px;
  }
 

}
