:root {
    --main-bg-color: #e6ebe0;
    --primary-type-color: #222;
    --accent: #6b8496;
    --accent-strong: #1098F7;
  }
  
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin:0;
    padding:0;
    font-family: "Hammersmith One", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--primary-type-color);
  }
  
  img {
    max-width: 100%;
  }

  h1 {font-size:2.3rem;}
  h2 {
    font-size: 1.6rem;
  }
  
  main {
    width: 450px;
    margin: 0 auto;
    position: relative;
  }
  
  .container {
    padding: 0 20px;
  }
  
  #header {
    height: 40vh;
    position: relative;
  
    h1 {
      padding-left: 20px;
      position: absolute;
      top: 30%;
      color: var(--accent-strong);
      font-family: "Dela Gothic One", sans-serif;
    }
    h2 {
      color: var(--primary-type-color);     
      padding-left: 35px;
      position: absolute;
      top: 65%;
    }
  }
  
  /* ------- NavBar ------- */
  nav {
    height: 70px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
  
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--main-bg-color);
    
      height: auto;
      width:100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    a:hover {
      color: var(--accent);
    }
  
    .logo {
      width:fit-content;
      margin-right: auto;
    }
  
    svg {
      fill: var(--main-bg-color);
    }
  }
  
  .links-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  
    position: absolute;
    top:0;
    right:0;
    z-index: 10;
    width: 300px;
  
    background-color: var(--primary-type-color);
    box-shadow: -5px 0 5px rgba(0,0,0,0.25);
  
  }
  
  #sidebar-active {
    display: none;
  }
  
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
    cursor: pointer;
  }
  #sidebar-active:checked ~ .links-container {
    display: flex;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 9;
  }

/* ---- Wave SVG ---- */
.custom-shape-divider-top-1714249349 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-top-1714249349 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1714249349 .shape-fill {
  fill: var(--primary-type-color);
}



#intro { 
  margin: 0;
  border-top: 2px solid var(--primary-type-color);

  h2 {
    color:var(--accent);
  }
  p{margin-bottom: 30px;}
}

#pros-cons {
  background-color: var(--primary-type-color);
  color: var(--main-bg-color);
  margin-bottom: 40px;
  padding: 20px;
  position:relative;
  z-index: 10;

  .pros h2 {
    padding-top: 90px;
  }
}
.custom-shape-divider-top-1714249598 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1714249598 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-top-1714249598 .shape-fill {
  fill: var(--main-bg-color);
}


.card {
  background-color: var(--accent);
  border-radius: 8px;
  margin-bottom: 15px;
  width: fit-content;
  margin: auto;
  margin-bottom: 40px;

  .card-txt {
    padding: 10px;
    padding-left: 20px;
  }
  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

  }
}

#ppl-routine {
  border-top: 2px solid var(--primary-type-color);
  margin-bottom: 40px;

  h2 {
    padding-left: 16px;
  }
  h2.routine {
    color: var(--accent-strong);
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;
  }
  p{text-align:center;}
}


footer {
  background-color: var(--accent);
  height: fit-content;
  text-align: center;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {

  main {
    width: 768px;
  }

  #header h2 {top: 50%;}

  #intro {
    width: 90%;
    padding: 0;
    margin-left: 20px;
  }

  .card {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 150px;

    img {
      grid-column: 2;
      grid-row: 1 / span 2;
      border-top-left-radius: 0;
      border-bottom-right-radius: 8px;
    }
    .card-txt {
      text-align: left;
      padding-left: 40px;
    }
    h3 {
      grid-column: 1;
      grid-row: 1;
    }
    ul {
      grid-column: 1;
      grid-row: 2;
    }

  }

  .routine-list {
    width: 300px;
    margin: auto;
  }

}

@media screen and (min-width: 992px) {

  main {
    width: 100%;
  }

  nav.primary .open-sidebar-button,
  .close-sidebar-button {
    display: none;
  }
  #sidebar-active {
    display: none;
  }

  nav {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .links-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff00;
    box-shadow: none;
    position: inherit;
  }

  nav a {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
  }
  nav .logo {
    margin-right: auto;
  }

  #pros-cons {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;


    .pros{
      grid-column: 1;
      grid-row: 1;
    }
    .cons{
      grid-column: 2;
      grid-row: 1;

      h2 {padding-top: 90px;}
    }
  }

  #cards {
    display: flex;


    .card {
      height: fit-content;
      grid-template-rows: 1fr 200px;
      gap: 0;
  
      img {
        border-bottom-right-radius: 0;
        border-top-left-radius: 8px;
        grid-column: 1 / span 2;
        grid-row: 1;
      }
      .card-txt {
        grid-column: 1 / span 2;
        grid-row: 2;
        padding-left: 20px;
      }
    }
}
 

}
