:root {
    --main-bg-color: #222;
    --primary-type-color: #EFF1F3;
    --header-color: #7E78D2;
    --accent-color: #272727;
}

body{
    background-color: var(--main-bg-color);
}

h1 {
    font-family: "Protest Strike", sans-serif;
    font-size: 2.6rem;
    width:fit-content;
    margin:auto;
    color: var(--header-color);
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

main {
    width: 90vw;
    margin:auto;
}


#assignments ul {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;

    li {
        list-style-type: none;
        font-family: "Signika Negative", sans-serif;
        font-size: 1.8rem;
        font-weight: 800;
    }

    a {
        display:block;
        text-decoration: none;
        color: var(--primary-type-color);
        background-color: var(--accent-color);
        padding: 50px 20px;
        border-radius: 10px;
    }

    a:hover {
        box-shadow: 2px 2px var(--primary-type-color);
    }

}

@media screen and (max-width: 600px) {
    #assignments ul {
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 601px) and (max-width: 700px) {
    #assignments ul {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 701px) and (max-width: 900px) {
    #assignments ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}