/* CSS Custom Properties */

:root{
    --main-bg-color: #222;
    --primary-type-color: #F5EFDF;
    --accent-color-1: #aaa;
    --accent-color-2: #A09DFF;
}

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

/* ------ Typography -------*/
body {
  font-family: "Onest", sans-serif;
}

/* ------ Fluid Images -------*/
img {
  max-width: 100%;
}

/* ------ Utility Classes  -------*/
.container {
  width: 420px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.15);
}

/* ------ Helper Classes -------*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* ------ Global Styles -------*/
body {
  background: var(--main-bg-color);
  color: var(--primary-type-color);
  line-height: 1.6;
}

a:link,
a:visited {
  color: var(--primary-type-color);
}

/* ------- Nav Hover Animation ------*/
.underline-animation {
  display: inline-block;
  position: relative;
  color: var(--accent-color-2);
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color-2);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav {
  padding: 1px;
}

nav ul {
  padding:0;
  display:flex;
  justify-content: space-evenly;
}

nav li {
  list-style-type: none;
    
}

nav a:link, nav a:visited {
  display:block;
  text-decoration: none;
    
}

.page-title {
  grid-area: title;
}

#about {
  grid-area: about;
}

#skills {
  grid-area: skills;
}

#experience {
  grid-area: experience;
}

#education {
  grid-area: education;
}

main {
  padding: 1px 20px;
  display:grid;
  grid-template-areas: 
  "title"
  "about"
  "skills"
  "education"
  "experience";
}

main h1 {
  font-family: "Days One", sans-serif;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  background-image: linear-gradient(to left, var(--accent-color-2), var(--primary-type-color));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  border-left: 6px solid var(--accent-color-2);
  background-color: #a09dff33;
  padding-left: 8px;
  border-radius: 6px;
}


dl {
  display:grid;
  grid-template: repeat(8, auto) / 8em 1fr;
  font-size: .9rem;
}

dt {
  font-weight: 800;
  grid-column: 1;
  padding: 10px 0;
  color: var(--primary-type-color);
  border-bottom: 1px solid var(--accent-color-1);
}
dd {
  margin: 0;
  grid-column: 2;
  padding: 10px 0;
  color: var(--accent-color-1);
  border-bottom: 1px solid var(--accent-color-1);
}
dd a {
  text-decoration: none;
  color: var(--accent-color-1);
}
.related-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap:50px;
  margin: 25px 0;
}
.related-links a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
}
#skills li {
  list-style-type: square;
}

.job,
.certificate {
  border-bottom: 1px solid var(--accent-color-1);
  padding-bottom: 20px;
}
.no-border-bottom {
  border:none;
}

.job *[itemprop="jobTitle"],
.job *[itemprop="name"],
.job *[itemprop="url"],
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"] {
  display: block;
}

.job h3 {
  margin: 20px 0 0 0;
}

footer {
  text-align: center;
  padding: 20px 0;
}


/* ------------- Media Queries --------------- */

@media screen and (min-width: 768px){

  .container {
    width: 680px;
  }

  main.container {
    grid-template-columns: 36.5% auto;
    grid-template-areas: 
    "title title"
    "about about"
    "skills skills"
    "experience education";
    gap: 20px;
  }

  /*Nested Grid*/
  #about{
    display:grid;
    grid-template-columns: 300px 1fr auto;
    gap:2em;
    grid-template-areas: 
      "bio details details"
      "related related related";
  }

  .bio{
    grid-area:bio;
  }

  .details{
    grid-area:details;
  }

  .related-links{
    grid-area:related;
    border-bottom: 1px solid var(--accent-color-1);
    padding-bottom: 50px;
  }

  /* ------- Skills Section ------- */
  .skills {
    width:100%;
    max-width:600px;
    padding: 0 20px;
  }
  
  .skill-name {
    font-size: 1rem;
    text-transform:uppercase;
    margin: 20px 0;
  }
  
  .skill-bar {
    height:14px;
    background-color: #282828;
    border-radius: 3px;
  }
  
  .skill-per {
    height:14px;
    background-color: #8a9fff;
    border-radius:3px;
    position: relative;
    animation: fillBars 2.5s 1;
  }
  
  .skill-per::before {
    content: attr(per);
    color:#222;
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after {
    content: "";
    position: absolute;
    width:10px;
    height:10px;
    background: #f1f1f1;
    top:-15px;
    right:0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }
  
  @keyframes fillBars {
    from{
      width:0;
    }
    to{
      width:100%;
    }
  }

  dl{
    grid-template: repeat(8, auto) / 8em 1fr;
  }

}

@media screen and (min-width: 992px){

  .container {
    width: 980px;
  }

  






}