html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

main {
    width: 960px;
    margin: 20px auto;
    border: 1px solid #000;
    background-image: url(grid.png);
}

header.primary, footer.primary {
    /* width: 916px; */
    width: 95.416%;
    background-color: rgba(143, 48, 48, 0.4);
    /* margin: 20px; */
    margin: 2.083%;
    padding: 20px;
    float:left;
}

#blog {
    background-color: rgba(37, 60, 190, 0.4);
    padding: 20px;
    /* width: 604px; */
    width: 62.916%;
    /* margin-left:20px; */
    margin-left: 2.083%;
    float:left;
}

aside {
    background-color: rgba(50, 190, 37, 0.4);
    /* width: 292px; */
    width: 30.416%;
    /* margin-left: 20px; */
    margin-left: 2.083%;
    padding: 20px;
    float:left;
}